Repository phillidp1989/App-Factory, pull requests merged in 2020-09, with the labels that each got.

#30 Jacob/feat/postform
  package-lock.json
  package.json
  src/App.js
  src/images/favicon.png
  src/images/logo.webp
  src/index.css
  src/pages/Dashboard/Nav.js
  src/pages/Home/index.js
  src/pages/NewPost/ErrorAlert.js
  src/pages/NewPost/PostForm.js
  src/pages/NewPost/index.js
  src/pages/NewPost/technologies.json
Labels: UI/UX, npm packages, pages

#32 Update package.json
  package.json
Labels: npm packages

#31 Dan/fix/signup text
  src/components/ProfilePic.js
  src/pages/Login/DeveloperLogin.js
  src/pages/Login/PosterLogin.js
Labels: components, pages

#35 Jacob/feat/firebase deployment
  .firebase/hosting.YnVpbGQ.cache
  .firebaserc
  .github/workflows/build-and-deploy.yml
  firebase.json
  package.json
  src/App.js
Labels: automation, npm packages

#36 Jacob/patch/homepage
  src/components/PostResults.js
  src/pages/AllPosts/index.js
Labels: components, pages

#37 Updated links to deployed backend
  src/components/AppBar.js
  src/context/UserContext.js
  src/pages/Login/DeveloperLogin.js
  src/pages/Login/PosterLogin.js
Labels: components, pages

#38 Dan/feat/allposts axios
  src/components/AppBar.js
  src/components/AppFilterMenu.js
  src/components/Pagniation.js
  src/components/PostCard.js
  src/components/PostResults.js
  src/components/Toast.js
  src/context/UserContext.js
  src/pages/Login/DeveloperLogin.js
  src/pages/Login/PosterLogin.js
  src/utils/API.js
Labels: components, pages

#39 Drg/page/user page
  src/App.js
  src/components/PostCard.js
  src/components/dummyData.js
  src/components/userPosts.js
  src/context/UserContext.js
  src/pages/Dashboard/Nav.js
  src/pages/NewPost/PostForm.js
  src/pages/UserPage/index.js
  src/utils/API.js
Labels: components, pages

#40 Dan/feat/dashboard summary
  package-lock.json
  package.json
  src/App.js
  src/components/PostCard.js
  src/components/Toast.js
  src/context/UserContext.js
  src/pages/Dashboard/BarChart.js
  src/pages/Dashboard/DoughnutChart.js
  src/pages/Dashboard/Nav.js
  src/pages/Dashboard/PieChart.js
  src/pages/Dashboard/Summary.js
  src/pages/Dashboard/TabPanel.js
  src/pages/NewPost/PostForm.js
  src/pages/NewPost/index.js
  src/utils/API.js
Labels: components, npm packages, pages

#41 Dan/feat/solution
  src/App.js
  src/components/PostCard.js
  src/components/SuccessDialog.js
  src/hocs/DeveloperRoute.js
  src/pages/Dashboard/Summary.js
  src/pages/NewPost/index.js
  src/pages/Solution/SolutionForm.js
  src/utils/API.js
Labels: components, pages

#42 Dan/feat/filter
  src/App.js
  src/components/AppFilterMenu.js
  src/components/Pagniation.js
  src/components/PostResults.js
  src/components/SuccessDialog.js
  src/components/userPosts.js
  src/pages/AllPosts/index.js
  src/pages/NewPost/PostForm.js
  src/pages/NewPost/index.js
  src/pages/Solution/SolutionForm.js
Labels: components, pages

#43 Jacob/feat/view post page
  src/App.js
  src/components/PostResults.js
  src/context/UserContext.js
  src/index.css
  src/index.js
  src/pages/AllPosts/index.js
  src/pages/AppPost/index.js
  src/pages/Dashboard/index.js
  src/pages/NewPost/PostForm.js
  src/pages/NewPost/index.js
  src/pages/NewPost/technologies.json
Labels: UI/UX, components, pages

#45 Dan/feat/solution edit
  src/App.js
  src/components/AppBar.js
  src/components/DeleteDialog.js
  src/components/PostCard.js
  src/components/PostResults.js
  src/components/UserSolution.js
  src/components/UserSolutionsResults.js
  src/components/userPosts.js
  src/index.js
  src/pages/AppPost/index.js
  src/pages/Dashboard/BarChart.js
  src/pages/Dashboard/DoughnutChart.js
  src/pages/Dashboard/Nav.js
  src/pages/Dashboard/PieChart.js
  src/pages/NewPost/index.js
  src/pages/SolutionEdit/index.js
  src/pages/SolutionForm/index.js
  src/utils/API.js
Labels: components, pages

#46 Dan/fix/dangerous html
  src/components/PostCard.js
  src/components/PostSolution.js
  src/components/PostSolutionsResults.js
  src/pages/AppPost/index.js
Labels: components, pages

#47 Jacob/patch/cleanup&validation improvement
  src/components/PostCard.js
  src/components/PostResults.js
  src/pages/NewPost/index.js
Labels: components, pages
