Repository phillidp1989/App-Factory, pull requests merged in 2020-08, with the labels that each got.

#1 Jacob/feat/GitHub actions
  .eslintrc.json
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  server.js
Labels: automation

#12 Dan/setup/server
  .github/labeler.yml
  backend/.eslintrc.json
  backend/.gitignore
  backend/config/config.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  package-lock.json
  package.json
  server.js
Labels: automation, config

#13 create react app
  .github/labeler.yml
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  package-lock.json
  package.json
Labels: automation, frontend, npm packages

#15 updated labels to include all docs
  .github/labeler.yml
Labels: automation

#20 Dan/feat/database connection
  backend/config/config.js
  backend/config/db.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  package-lock.json
  package.json
Labels: backend, config, npm packages

#19 Linting/prettier adjustments
  .eslintrc.json
  .github/labeler.yml
  backend/package.json
  package-lock.json
  package.json
Labels: automation, backend, npm packages

#24 Cleaned out backend and rearranged front end
  .eslintignore
  .eslintrc.json
  .github/labeler.yml
  .gitignore
  README.md
  backend/.eslintrc.json
  backend/.gitignore
  backend/config/config.js
  backend/config/db.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/logo.svg
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/serviceWorker.js
  src/setupTests.js
Labels: UI/UX, automation, config, documentation, npm packages

#25 Jacob/feat/build&deploy workflow
  .github/workflows/build-and-deploy.yml
  package-lock.json
  package.json
Labels: automation, npm packages

#26 Jacob/feat/appbar
  package.json
  public/index.html
  src/App.js
  src/components/AppBar.js
  src/images/logo.svg
  src/pages/Dashboard/Nav.js
  src/pages/Dashboard/TabPanel.js
  src/pages/Dashboard/index.js
Labels: UI/UX, components, npm packages, pages

#27 Jacob/feat/babel config
  .babelrc.js
  config-overrides.js
  package-lock.json
  package.json
  src/App.js
  src/components/AppBar.js
  src/pages/Dashboard/Nav.js
  src/pages/Dashboard/TabPanel.js
Labels: components, npm packages, pages

#29 Jacob/feat/favicons&logo
  public/android-chrome-144x144.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  src/components/AppBar.js
Labels: UI/UX, components

#28 Dan/feat/login
  package-lock.json
  package.json
  src/App.js
  src/components/AppBar.js
  src/components/ProfilePic.js
  src/context/UserContext.js
  src/hocs/GuestRoute.js
  src/hocs/PrivateRoute.js
  src/index.js
  src/pages/Login/DeveloperLogin.js
  src/pages/Login/PosterLogin.js
  src/pages/Login/images/google-logo.webp
  src/pages/Login/index.js
Labels: UI/UX, components, npm packages, pages
